{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>This is not a Twitter clone!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>User</b><br>
      888 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <img class='img' src="https://d3c5s1hmka2e2b.cloudfront.net/uploads/topic/image/42/fullstack.png" height='40' width='40'>
        <li class='tweet' id='name'>{{tweet.name}}</li>
        <li class='tweet' id='text'>{{tweet.text}}</li>
        <br>
        
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}